// --------------------------------------------------------------------
// This file contains all styles related to the typography of the site.
// --------------------------------------------------------------------

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

a, a:focus, a:visited {
  color: black;
}